<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.codelabs.navigation">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.learn.jetpackfamily.dataStore.ProtoDataStoreDemoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.learn.jetpackfamily.dataStore.PreferenceDataStoreDemoActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="com.learn.jetpackfamily.camera.CameraIntentDemoActivity"
            android:exported="true" />
        <activity
            android:name="com.learn.jetpackfamily.camera.CameraXDemoActivity"
            android:exported="true" />
        <activity
            android:name="com.learn.jetpackfamily.MainActivity"
            android:exported="true">

            <!-- TODO STEP 11.2 -->
            <!-- <nav-graph android:value="@navigation/mobile_navigation" /> -->
            <!-- TODO END STEP 11.2 -->

        </activity>

        <receiver
            android:name="com.learn.jetpackfamily.DeepLinkAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/deep_link_appwidget_info" />
        </receiver>
    </application>

</manifest>